---
import InvitationsLayout from '@/templates/Invitations.astro';
import { FormConfirm, Countdown } from '@/components';
import { AppConfig } from '@/utils/AppConfig';
import { getXataClient } from '@/database/xata';


const { title } = AppConfig;
const { description } = AppConfig;
const guestId = Astro.params.guest;

const xata = getXataClient();
const guest = await xata.db.guests.read(guestId);
const event = await xata.db.events.read(guest?.event_id);
const originalLimitDateToConfirm = new Date(event?.limitDateToConfirm);
const originalDate = new Date(event?.date);
const options = {
  timeZone: 'America/Mexico_City',
  year: 'numeric',
  month: 'long',
  day: 'numeric',
  hour: '2-digit',
  minute: '2-digit'
};
const dateMX = originalDate.toLocaleString('es-MX', options);
const limitDateToConfirmMX = originalLimitDateToConfirm.toLocaleString('es-MX', options);

export async function getStaticPaths() {
  const xata = getXataClient();
  const guests = await xata.db.guests
  .select(["id", "name", "event_id", "confirmed"])
  .getAll()

  return guests.map(guest => {
    return {
      params: {
        guest: guest.id
      }
    }
  })
}

export const prerender = false;

---

<InvitationsLayout head={{ title, description }}>
  <section class="rounded-2xl shadow-md scale-90 p-4 bg-gradient-to-r opacity-75 to-[#86d1f0] from-[#febeda]">
    <h1 class="text-6xl font-extrabold mb-4">{event?.name}</h1>
  </section>

  <section class="rounded-2xl shadow-md bg-white/30 scale-90 py-4">
    <h1 class="text-4xl font-bold mb-4">Hola {guest?.name}</h1>
    <p class="font-bold">
      Un nuevo bebé está por llegar
    </p>
    <p class="text-center p-4">
      Frida Botello y Joel Valdivia, quienes seremos los papás,
      te consideramos una persona importante
      así que esta gran noticia queremos compartirla y sorprendernos juntos.
    </p>
    <p>
    </p>
    <p>
    </p>
  </section>

  <section class="rounded-2xl shadow-md bg-white/30 scale-90 py-4">
    <h1 class="text-4xl font-bold mb-4">Dónde y Cúando?</h1>
    <p>{dateMX}</p>
    <p>en {event?.place}</p>
    <Countdown targetDate={originalDate}></Countdown>
  </section>

  <section class="confirm shadow-md bg-white/30 scale-90 py-4">
    {<FormConfirm
      guest={{id: guest?.id, name: guest?.name, confirmed: guest?.confirmed}}
      endDate={limitDateToConfirmMX}
      >
      </FormConfirm>}
  </section>
</InvitationsLayout>
