---
import { FaChild } from "react-icons/fa6";
import { FaChildDress } from "react-icons/fa6";

import InvitationsLayout from '@/templates/Invitations.astro';
import { AppConfig } from '@/utils/AppConfig';
import { getXataClient } from '@/database/xata';
import { FooterInvite, GenderRevealFlags } from '@/components';

const { title } = AppConfig;
const { description } = AppConfig;
const guestId = Astro.params.guest;

const xata = getXataClient();
const guest = await xata.db.guests.update(guestId, {
  confirmed: true,
});
const boyUrl = `/invitaciones/boy/${guest.id}/`;
const girlUrl = `/invitaciones/girl/${guest.id}/`;

export async function getStaticPaths() {
  const xata = getXataClient();
  const guests = await xata.db.guests
  .select(["id", "name", "event_id", "confirmed"])
  .getAll()

  return guests.map(guest => {
    return {
      params: {
        guest: guest.id
      }
    }
  })
}

export const prerender = false;

---

<InvitationsLayout head={{ title, description }}>
  <section class="rounded-2xl bg-white scale-90">
    <GenderRevealFlags />
    <div class="flex justify-center pt-4">
      <p class="text-3xl uppercase tracking-widest">
        {guest?.name}
      </p>
    </div>

    <div class="flex justify-center pb-8 pt-4 pr-4 pl-4">
      <p class="text-md tracking-widest">
        Estamos muy contentos de que puedas asistir,
        ahora ayudanos con tu pronóstico:
      </p>
    </div>

    <div class="flex justify-center p-8">
      <p class="text-3xl uppercase tracking-widest">
        tu dices que será..
      </p>
    </div>
    <div class="flex justify-center space-x-4">
      <a
        href={boyUrl}
        class="uppercase transition delay-150 duration-300 ease-in-out rounded border border-blue-400 bg-blue-300 px-8 py-4 font-extrabold text-white hover:bg-[#86d1f0] flex items-center"
      >
        <FaChild size={50} />

      </a>
      <a
        href={girlUrl}
        class="uppercase rounded border border-pink-500 bg-pink-400 px-8 py-4 font-extrabold text-white hover:bg-[#febeda] flex items-center"
      >
        <FaChildDress size={50} />
      </a>
    </div>
    <FooterInvite/>
  </section>
</InvitationsLayout>
