---
import { MdLocationOn } from 'react-icons/md';
import { SiGooglecalendar } from "react-icons/si";
import { IoCalendarNumberOutline } from "react-icons/io5";

import InvitationsLayout from '@/templates/Invitations.astro';
import { AppConfig } from '@/utils/AppConfig';
import { getXataClient } from '@/database/xata';
import { FooterInvite, GenderRevealFlags } from '@/components';
import { formatEventDateTime } from '@/lib/dateUtils';
import { createGoogleCalendarLink, createOutlookCalendarLink } from '@/lib/calendar';

const { title } = AppConfig;
const { description } = AppConfig;
const guestId = Astro.params.guest;

const xata = getXataClient();
const guest = await xata.db.guests.update(guestId, {
  genre: 'boy'
});

const event = await xata.db.events.read(guest?.event_id);
const { dateMX, hourMX } = formatEventDateTime(event?.date);
const googleCalendarLink = createGoogleCalendarLink(event);
const outlookCalendarLink = createOutlookCalendarLink(event);
const googleMapsURL = `https://www.google.com/maps/place/${event?.place}`

export async function getStaticPaths() {
  const xata = getXataClient();
  const guests = await xata.db.guests
  .select(["id", "name", "event_id", "confirmed"])
  .getAll()

  return guests.map(guest => {
    return {
      params: {
        guest: guest.id
      }
    }
  })
}

export const prerender = false;

---

<InvitationsLayout head={{ title, description }}>
  <section class="rounded-2xl bg-white scale-90">
    <GenderRevealFlags />
    <div class="flex justify-center p-6">
      <p class="text-3xl uppercase tracking-widest">
        {guest?.name}
      </p>
    </div>

    <hr class="pt-4">

    <div class="flex justify-center p-8">
      <p class="uppercase tracking-widest">
        Frida opina lo mismo!
      </p>
    </div>

    <hr class="pt-4">

    <div class="flex justify-center pb-8 pt-4 pr-4 pl-4">
      <p class="text-md tracking-widest">
        Entonces te esperamos el
      </p>
    </div>

    <div class="flex flex-col justify-center pb-8">
      <p class="text-xl tracking-widest whitespace-pre-line">
        {dateMX}
      </p>
      <p class="text-xl tracking-widest whitespace-pre-line">
        {hourMX}
      </p>
      <div class="flex justify-center space-x-4 py-4">
        <a
          href={googleMapsURL}
          target="_blank"
          class="animate-pulse rounded border border-[#a99c93] text-[#a99c93] px-8 py-4 font-extrabold uppercase flex items-center"
        >
          <MdLocationOn className="mr-2" size={24} />
          <span>Cómo llegar?</span>
        </a>
      </div>

      <p class="animate-bounce tracking-widest whitespace-pre-line">
        Apuntalo en tu calendario
      </p>
      <div class="flex justify-center justify-center">
        <a
          href={googleCalendarLink}
          target="_blank"
          class="animate-bounce rounded border border-[#a99c93] text-[#a99c93] m-2 p-2 font-extrabold uppercase flex items-center"
        >
          <SiGooglecalendar className="mr-2" size={24} />
          Google
        </a>
        <a
          href={outlookCalendarLink}
          target="_blank"
          class="animate-bounce rounded border border-[#a99c93] text-[#a99c93] m-2 p-2 font-extrabold uppercase flex items-center"
        >
          <IoCalendarNumberOutline className="mr-2" size={24} />
          Outlook
        </a>
      </div>
    </div>

    <div class="flex justify-center p-8">
      <p class="text-3xl uppercase tracking-widest">
        Nos vemos ahí!
      </p>
    </div>
    <FooterInvite/>
  </section>
</InvitationsLayout>
